@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400&display=swap');

body{
    font-family: 'Raleway', sans-serif !important;
}

#header{
    height: 70%;
    background-color: #F33;
    background-image: url(img-header2.jpg);
    background-size: cover;
    margin: 0;
    padding: 0;
}

#header .col{
    height: 100%;
}

#div-img-header{
    text-align: end;
}

#grid-about-me{
    width: 80%;
    margin: auto;
}

#skills-grid-container{
    margin: auto;
}
.skill-img-container{
    border: none !important;
    height: fit-content;
}
.skill-item .skill-img-container{
    cursor: pointer;
}

.skill-item .skill-img-container:hover > .card-img-top{
    filter: drop-shadow(-2px 2px 15px rgba(0, 0, 0, 0.7));
}
.skill-img-container:hover > .card-body input{
    color: #35F;
}

.skill-img-container img{
    object-fit: contain;
}

.project-preview{
    height: 75vh;
}

.carousel-inner{
    overflow-y: scroll !important;
    padding-right: 0;
    height: 90%;
}

.carousel-project-1-btn{
    height: 50px;
    position: static !important;
    display: inline-block !important;
}

.card-body input{
    background-color: #0000;
    color: #0000;
}

.img-success-modal{
    position: absolute;
    z-index: 1;
    width: 100%;
    top: 7%;
}
.img-success-modal img{
    height: max(10vw, 170px);
    width:  max(10vw, 170px);
    filter: drop-shadow(-2px 2px 15px rgba(0, 0, 0, 0.7));
}


#success-btn-modal{
    background-color: #39b54a;
    border-color: #39b54a;
    color: #fff;
    border-radius: 3rem;
    padding-left: 20px;
    padding-right: 20px;
}

#modalSuccessMessage .modal-dialog .modal-content .modal-header{
    height: 60px;
    border-bottom: none;
}
#modalSuccessMessage .modal-dialog .modal-content .modal-footer{
    border-top: none;
}
#modalSuccessMessage .modal-dialog .modal-content{border: 1px solid rgba(0,0,0);}

#send-btn{
    border-radius: 4rem;
    padding: 8px 20px;
    font-size: 17px;
}

#accordionExample .accordion-item{    
    background: 0000;
    border: 0px;
}

